<link rel="stylesheet" th:href="@{/css/default/header.css}">
<link rel="stylesheet" th:href="@{/css/default/default.css}">
<script defer src="https://kit.fontawesome.com/cccee664d4.js"
	crossorigin="anonymous"></script>
<script>
	function menuToggle() {
		const toggleMenu = document.querySelector('.menu');
		toggleMenu.classList.toggle('active')
	}
</script>
<div class="action">
	<div id="home" class="big-bg">
		<div class="header wrapper">
			<div class="logo">
				<span class="oly"><i class="fas fa-seedling"></i></span>
				<h1>
					<a th:href="@{/}">오를래</a>
				</h1>
			</div>
			<div class="nav">
				<ul>
					<li><a th:href="@{/}">MAIN</a></li>
					<li><a th:href="@{/mountain/mountainAllInfo}">MOUNTAIN</a></li>
					<li><a th:href="@{/crew/list}">CREW</a></li>
					<li><a th:href="@{/feed/feedmain}">FEED</a></li>
					<div class="icon" onclick="menuToggle();">
						<a href="#"><i class="far fa-user"></i></a>
					</div>
				</ul>
			</div>
			<div class="menu">
				<ul>
					<li th:if="${session.memberVo}==null"><a
						th:href="@{/member/login}">로그인</a></li>
					<li th:if="${session.memberVo}==null"><a
						th:href="@{/member/reg}">회원가입</a></li>
					<li th:if="${session.memberVo}!=null"><a
						th:href="@{/crew/list}">내 크루</a></li>
					<li th:if="${session.memberVo}!=null"><a
						th:href="@{/feed/userFeed/${session.memberVo.memberIdx}}">내
							피드</a></li>
					<li th:if="${session.memberVo}!=null"><a
						th:href="@{/member/mypage}">마이페이지</a></li>
					<li th:if="${session.memberVo}!=null"><a
						th:href="@{/member/logout}">로그아웃</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
