/* 여러개의 선택자 지정 */
body, h1, p{
    margin:0;
    padding:0;
}

/* 전체선택자 */
*{
    color:black;
}

/* 태그선택자 */
h1{
    background-color: ghostwhite;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 400px;
}

p{
    background-color: wheat;
    margin-left: 30px;
    margin-right: 30px;
    width: 400px;
}

h2{
    background-color: cadetblue;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 400px;
}

/* 아이디선택자 */
#title{
    font-size: 40px;
}

/* 후손선택자 부모선택(공백)선택자*/
#header1 .title{
    background-color: tomato;
}

#header1 h1{
    background-color: brown;
}

#header1 h1, #header1 h2{
    font-size: 40px;
}

/* 자손선택자 부모선택>선택자*/
#header1 > h1 {
    color:blue;
}

h1>a{
    color: darksalmon;
}

/* 클래스선택자 */
.font_a{
    font-style: italic;
}

.font_b{
    font-weight: bold;
}

li.font_color_blue{
    color:blue;
    display: inline;
}

.back_color_green{
    background-color: green;
}

p.font_a{
    margin-bottom: 30px;
}

/* 속성선택자 */
input[type]{
    margin-left: 30px;
    width: 150px;
    height: 50px;
    font-size: 150%; /*16*1.5 -> 24px*/
}

/* 바로 뒤에 위치하는 요소를 선택 + */
#title+p{
    background-color: cornflowerblue;
}

/* 범위 선택자 */
#title~p{
    color:cyan;
}

/* 선택영역에 마우스 커서가 위치하는 경우 hover*/
#btn00:hover{
    background-color: darkmagenta;
    color:magenta;
}
#btn00:active{
    background-color: magenta;
    color:darkmagenta;
}

input[type="text"]{
    background-color: tomato;
}

input[type="password"]{
    background-color: thistle;
}

/*이미지*/
.img{
    width: 150px;
    height: 200px;
}

img[src$=png]{
    border:3px solid red;
}

img[src$=jpg]{
    border:3px solid green;
}

img[src$=gif]{
    border:3px solid blue;
}

/* 입력양식 태그 */
input:disabled {
    background-color: black;
}

input:enabled {
    width : 200px;
    height: 35px;
    font-size: 1.2em; /* 120% */
}

input:focus {
    border: 5px solid red;
}