<!DOCTYPE html>
<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>회원 목록</title>
<link rel="stylesheet" th:href="@{/css/listview.css}">
</head>
<body>
	<th:block th:replace="frame/header"></th:block>
	<th:block th:replace="frame/nav"></th:block>
	
	<h1 id="list_header">멤버 리스트</h1>
	<hr>
	<table border=1>
		<tr>
			<th>회원번호</th>
			<th>프로필사진</th>
			<th>아이디</th>
			<th>비밀번호</th>
			<th>이름</th>
			<th>가입일시</th>
		</tr>
		
				<tr th:each="member: ${result}">
					<td th:text="${member.idx}"></td>
					<td>
						<img src="th:href='@{/uploadfile/${member.photo}}'" style="width: 50px">
					</td>
					<td th:text="${member.id}"></td>
					<td th:text="${member.pw}"></td>
					<td th:text="${member.name}"></td>
					<td th:text="${#calendars.format(member.date, 'yyyy.MM.dd. HH:mm')}"></td>
				</tr>
		
	</table>
	<footer>
	</footer>
</body>
</html>