/* 기본설정 */
@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap);

*{  
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: blue;
}

/* 타이틀 폰트 적용 */
.title_font{
    font-family: 'Nanum Gothic', serif;
    font-weight: 900;
}

/* header 영역 */
header{
    background-color: thistle;
    border-bottom: 1px solid #aaa;
    padding: 15px 15px 15px 15px;
}

/* 회원 등록 영역 */
#regFormArea, #listArea{
    border-bottom: 1px solid #aaa;
    padding: 15px 15px 15px 15px;
}

#regFormArea table{
    margin: 10px 0;
}

#regFormArea form label{
    display: block;
}

#regForm>table td{
    width:200px;
    padding:5px;
}

#regForm input[type="text"], #regForm input[type="password"] {
    height: 30px;
    width: 200px;
    font-size: 1em;
    padding: 0 5px;

}

#regForm input[type="submit"], #editForm input[type="submit"]{
    width: 100px;
    height: 56px;
    border: 2px solid #aaa;
    
    font-size: 1.2em;
    font-family: 'Nanum Gothic', serif;

    background-color: rgb(54, 54, 54);
    color: #fff;
}

div.msg{
    color: red;
    display: none;
}

/* 회원 리스트 영역 */
#listArea table{
    margin: 10px 0;
    width: 600px;
    border-collapse: collapse;
}
#listArea>table td, #listArea>table th{
    padding: 10px;
    border: 1px solid #aaa;
    text-align: center;
}

/* 회원 정보 수정 */
#editFormArea{
    padding: 15px 15px 15px 15px;
    width: 450px;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: whitesmoke;

    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -175px;

    display : none;
}

#editFormArea #div_header{
    padding: 10px 0 20px 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #aaa;
    overflow: hidden;
}

#div_header h2{
    float:left;
}

#div_header>div{
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    float: right;
}

#editForm>table{
    width: 100%;
    margin-top: 15px;
}
#editForm>table td{
    padding: 5px 10px;
    text-align: left;
}


@media screen and (max-width:800px) {

    #regForm>table td{
        width:auto;
        padding:5px;
        display: inline;
    }

    #regForm input[type="text"], #regForm input[type="password"] {
        height: 30px;
        width: auto;
        font-size: 1em;
        padding: 0 5px;
        display: inline;
    
    }
    /* #regFormArea form label{
        display: inline;
    } */
    
    #regForm input[type="submit"], #editForm input[type="submit"]{
        width: auto;
        height: 30px;
        border: 2px solid #aaa;
        
        font-size: 1.2em;
        font-family: 'Nanum Gothic', serif;
    
        background-color: rgb(54, 54, 54);
        color: #fff;
        display: inline;
    }
    
    #listArea table{
        margin: 10px 0;
        width: auto;
        border-collapse: collapse;
    }

}