*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing:border-box;
}
.table{
    background-color: #f0f2f5;
    padding-top: 150px;
    padding-bottom: 150px;
    display: table;
    width: 100%;
}
.table .table_cell{
    display: table-cell;
    text-align: center;
    width: 100%;
}
.blind{
    color:transparent;
    font-size:0px;
}

.box1{
    display: block;
}
.box2{
    float: left;
    text-align: left;
    display: block;
    padding-left: 40px;
}
header img{
    float: left;
    height: 120px;
}

header p{
    font-size: 24px;
}

.box{
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 50px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 /10%);
}
section input{
    border-radius: 6px;
    height: 50px;
    line-height: 16px;
}
section input[type="text"] {
    width: 100%;
    background-color: #fff;
    border: 1px solid #dddfe2;
    padding-left: 15px;
    margin-bottom: 13px;
    font-size: 15px;
}

section input[type="password"]{
    width: 100%;
    background-color: #fff;
    border: 1px solid #dddfe2;
    padding-left: 15px;
    margin-bottom: 17px;
    font-size: 15px;
}

section input[type="submit"]{
    width: 100%;
    border: none;
    background-color: #1877f2;
    color: white;
    font-size: 20px;
}
.box p, .box a{
    text-align: center;
    background: #fff;
    margin-bottom: 16px;
    color: #1877f2;
}
.line{
    border-bottom: 1px solid #dadde1;
}
section input[type="button"]{
    margin-top:20px;
    width: 40%;
    border: none;
    background-color:#42b72a;
    color:white;
    font-size: 17px;
}
.bold{
    font-size:14px;
}

.bold a{
    color:black;
}

.footer_box{
    padding-top:20px;
    padding-left:40px;
    padding-right: 40px;
    width: 100%;
}
.lang{
    padding-bottom: 10px;
    border-bottom: 1px solid #dadde1;
}
.plus{
    padding-bottom:20px;
}
.footer_box ul, .footer_box ul li{
    padding-right: 3px;
    display: inline;
    font-size: 13px;
    color: #8a8d91;
}
.plus ul, .plus ul li{
    padding-right: 10px;
}
footer p{
    font-size: 11px;
    color:#737373;
    padding-bottom: 10px;
}