@charset "UTF-8";

.section {
	background-color: rgb(240, 240, 240);
}

p {
	font-size: 13px;
}

section {
	padding: 80px 50px 100px 50px;
}

.box {
	padding: 20px 0 20px 0;
	background-color: white;
	border-radius: 8px;
	border: 1px solid rgb(220, 220, 220);
}

.crew_section, .crew_information {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.crew_section {
	padding: 10px 10px 30px 10px;
	justify-content: center;
	align-items: center;
}

.crew_img {
	padding-right: 10px;
	width: 350px;
}

#crew_info {
	padding-left: 10px;
	width: 40%;
	min-width: 300px;
}

#crew_info h3 {
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom: 1px solid rgb(220, 220, 220);
	margin-bottom: 0;
}

.crew_introduction, .crew_hashtag {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom: 1px solid rgb(220, 220, 220);
	margin-bottom: 0;
}

.crew_information {
	padding-top: 15px;
	padding-bottom: 15px;
	justify-content: center;
	justify-content: center;
	border-bottom: 1px solid rgb(220, 220, 220);
	margin-bottom: 0;
}

.crew_information span {
	padding-left: 13px;
	padding-right: 13px;
	text-align: center;
}

.crew_information p, .crew_information img {
	padding-top: 7px;
	margin-bottom: 0;
}

.crew_captain, .crew_number {
	border-right: 1px solid rgb(220, 220, 220);
}

.edit_btn {
	display: flex;
	margin-top: 20px;
	justify-content: center;
}

.edit_btn button {
	width: 150px;
	background-color: rgb(70, 70, 70);
	font-size: 15px;
}

.join_btn {
	display: flex;
	margin-top: 20px;
	justify-content: center;
}

.join_btn button {
	width: 150px;
	background-color: rgb(70, 70, 70);
	font-size: 15px;
}

.comment_section {
	padding: 10px 10px 10px 10px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.comment_section>table {
	border-top: 1px solid rgb(220, 220, 220);
	border-bottom: 1px solid rgb(220, 220, 220);
	width: 80%;
}

.comment_section td {
	padding-top: 7px;
}

.comment_section img {
	margin-left: 15px;
}

.comment_section p {
	margin-bottom: 0;
}

.comment_section .content {
	text-align: left;
}

.comment_section .date {
	margin-right: 15px;
}

.comment_section ul {
	padding-bottom: 10px;
}

#nickname {
	min-width: 50px;
}

.pagination {
	justify-content: center;
	margin-bottom: 0;
}

.page-link {
	padding: .20rem .40rem;
	font-size: 11px;
	color: grey;
}

.input_section {
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
	display: flex;
	justify-content: center;
}

.input_section input[type="text"] {
	width: 70%;
	max-width: 600px;
	margin-right: 13px;
	font-size: 13px;
}

.input_section input[type="submit"] {
	width: 10%;
	font-size: 15px;
	border-color: rgb(221, 221, 221);
}

.btn1 {
	color: rgb(73, 149, 248);
	font-weight: bold;
}

.footer {
	padding-top: 50px;
}